<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player Stats</title>
</head>
<body>
  <div>
  <form action="#" method="POST">
    <input type="text" name="name" placeholder="Enter Player Name">
      <label for="position">Position</label>
      <select name="position" id = "position">
          <option value="QB">QB</option>
          <option value="RB">RB</option>
          <option value="WR/TE">WR/TE</option>
      </select>
    <input type="submit">
  </form>
  </div>
  <div>
      {% if stats|length > 0 %}
    <img src="{{logo}}">
      {% for stat in stats %}
      <p>{{stat["label"]}}: {{stat["value"]}}</p>
      {% endfor %}
      {% endif %}
  </div>
</body>
</html>